<div id="home-container">
    <div class="card" id="picture-of-me">
        <img src="assets/me.jpeg" alt="Image of Taylor English">
    </div>
    <div class="card" id="latest-project">
        <img src="assets/Xcode-logo.png" alt="Xcode logo">
        <div>
            <h1>Approachable</h1>
            <h4>See the latest updates on this new iOS app built entirely with SwiftUI!</h4>
        </div>
    </div>
    <div class="card" id="other-projects">
        <div class="app-icon">
            <img src="assets/icons/angular.png" alt="">
        </div>
        <div class="app-icon extra-padding">
            <img src="assets/icons/HTML.png" alt="">
        </div>
        <div class="app-icon">
            <img src="assets/icons/JS.png" alt="">
        </div>
        <div class="app-icon extra-padding">
            <img src="assets/icons/node-js.png" alt="">
        </div>
        <div class="app-icon">
            <img src="assets/icons/Piano-Icon.png" alt="">
        </div>
    </div>
    <div class="card" id="view-resume"></div>
</div>