#home-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2vw; /* Use vw on the column gap and the row gap to keep them equal*/
    row-gap: 2vw;
}

.card {
    background-color: rgb(213, 239, 255);
    box-shadow: 3px 3px 10px rgb(129, 129, 129);
    border-radius: 20px;
}

/* Picture of Me Widget */

#picture-of-me {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    overflow: hidden;
}

#picture-of-me img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Latest Project Widget */

#latest-project {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    background: linear-gradient(270deg, rgba(38,191,238,1) 0%, rgba(0,153,255,1) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ysabeau SC', sans-serif;
    overflow: hidden;
}

#latest-project img {
    width: 200px;
}

#latest-project div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#latest-project h1 {
    font-size: 4vw;
}

#latest-project h4 {
    text-align: center;
    font-size: 1.25vw;
}

/* Other Widgets */

#other-projects {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

#view-resume {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}